.sectionHero{
    background-image: url("../../assets/bg_hero.png");
    background-size: cover;
    /* background-position: center; */
    background-position: top;
    background-repeat: no-repeat;
    height: 100dvh;
    /* position: relative; */
    overflow : hidden;
    padding-top: 1.5rem;
}


.sectionHero nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: relative;
}

.sectionHero nav .navLogo {
    height: 100%;
    position: absolute;
    left : 50%;
    transform: translateX(-50%);
}

.sectionHero nav button {
    margin-left: auto;
}

.sectionHero .heroBody {
    display: flex;
    flex-direction: column;
    /* flex-grow: 1; */
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.sectionHero .heroBody > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    width: 100%;
    padding-top: 4rem;
}

.sectionHero .heroBody .dashboardImg {
    height: auto;
    width: 100%;
    max-width: 1200px;
    animation: slideUp 1s ease-out forwards;
}
  
@keyframes slideUp {
    /* from{
        transform: translateY(100vh) scale(0.8); 
        opacity: 0;
    }
    to {
        transform: translateY(0) scale(1); 
        opacity: 1;
    } */
    from {
        transform: translateY(100vh) scale(0.8);
        opacity: 0;
    }
    80% {
        transform: translateY(-10px) scale(1.02); /* Overcorrect slightly */
        opacity: 1;
    }
    to {
        transform: translateY(0) scale(1);
    }
}

  

@media (max-width: 767px) {
    .sectionHero {
        padding-top: 0.75rem ;
    }
    .sectionHero .heroBody > div {
        gap: 0.25rem;
        padding-top: 3rem;
        /* margin-top: auto; */
    }
}

