.sectionHero{
    background-image: url("../../assets/bg_hero.png");
    background-size: cover;
    /* background-position: center; */
    background-position: top;
    background-repeat: no-repeat;
    height: 100vh;
    /* position: relative; */
    overflow : hidden;
}


.sectionHero nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: relative;
}

.sectionHero nav .navLogo {
    position: absolute;
    left : 50%;
    transform: translateX(-50%);

}

.sectionHero .heroBody {
    display: flex;
    flex-direction: column;
    /* flex-grow: 1; */
    align-items: center;
    justify-content: space-between;
    height: 100%;

    }

.sectionHero .heroBody div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
    width: 100%;
    padding-top: 2rem;
}

.sectionHero .heroBody img {
    margin-top: auto;
    height: auto;
    width: 100%;
    max-width: 1400px;
}

