.sectionHero{
    background-image: url("../../assets/bg_hero.png");
    background-size: cover;
    /* background-position: center; */
    background-position: top;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
    overflow    : hidden;
    z-index: 10;
}

.sectionHero nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: relative;
}

.sectionHero nav .navLogo {
    position: absolute;
    left : 50%;
    transform: translateX(-50%);

}

.sectionHero .heroBody {
    display: flex;
    flex-direction: column;
    /* flex-grow: 1; */
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.sectionHero .heroBody div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
    width: 100%;
    flex-grow: 1;
    padding-top: 2rem;
}

.sectionHero .heroBody img {
    height: auto;
    max-width: 1400px;
    width: 100%;
}

.sectionHero .arcDiv {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px; /* Adjust for arc height */
    background-color: #ffffff;
    box-shadow: 0 -10px 50px rgba(129,0,255,0.5);
    border-radius: 50% 50% 0 0/100% 100% 0 0;
    transform: scaleX(1.5);
}
