:root {
  --clr-primary-purple : #8100FF;
  --clr-secondary-purple : rgba(200,144,255);
  --clr-gray : #49464C;
  --clr-light-gray : #A09FA3;

  --font-sz-title : 59px;
  --font-sz-sub-title : 36px;
  --font-sz-para : 28px;
  --font-sz-sub-para : 24px;
}

/* Texts */
.textTitle {
  font-size: var(--font-sz-title);
}

.textSubTitle {
  font-size: var(--font-sz-sub-title);
}

.textPara {
  font-size: var(--font-sz-para);
}

.textSubPara {
  font-size: var(--font-sz-sub-para);
}

/* Weights */
.wgtReg {
  font-weight: 400;
}

.wgtMd {
  font-weight: 500;
}

.wgtSemiBold {
  font-weight: 600;
}
/* Buttons */
.btn {
  cursor : pointer;
  padding: 0.75rem 1rem;
  border-radius: 0.75rem;
  font-family: "Lexend";
  border: 0;
  align-items: center;
}

.btn:active {
  transform: scale(0.98);
}

.btnPrimary {
  background: linear-gradient(to bottom right, var(--clr-primary-purple), var(--clr-secondary-purple));
  background-color: var(--clr-primary-purple);
}

/* Colors */
.clrWhite {
  color: white;
}

.clrGray {
  color : var(--clr-gray);
}

.clrLightGray {
  color: var(--clr-light-gray);
}


.tagDiv {
  width: max-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.35rem;
  background-color: #ffffff;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  border: 0.1rem solid var(--clr-light-gray);
}
.tagDiv img {
  height: 1.5rem;  
  width: 1.5rem;
}

/* Hides */
.hideDesk {
  display: none;
}

.hideMob {
  display: flex;
}

.hideTab {
  display: flex;
}

.content{
  max-width: 1300px;
  height: 100%;
  padding: 1rem 1rem 0rem 1rem;
  margin: 0 auto;
}

@media (max-width: 575px) {
  
  :root {
    --font-sz-title : 28px;
    --font-sz-sub-title : 18px;
    --font-sz-para : 15px;
    --font-sz-sub-para : 12px;
  }
  
  .hideDesk {
    display: flex;
  }
  .hideMob {
    display: none;
  }

  .tagDiv img {
    height: 1rem;  
    width: 1rem;
  }

}
  

/* Small Tablets/Phablets */
@media (min-width: 576px) and (max-width: 767px) {
  :root {
    --font-sz-title: 35px;
    --font-sz-sub-title: 22px;
    --font-sz-para: 18px;
    --font-sz-sub-para: 16px;
  }

  .hideTab {
    display: none;
  }
  .showTab{
    display: flex;
  }
}

/* Tablets */
@media (min-width: 768px) and (max-width: 991px) {
  :root {
    --font-sz-title: 45px;
    --font-sz-sub-title: 28px;
    --font-sz-para: 22px;
    --font-sz-sub-para: 20px;
  }
  
  .hideTab {
    display: none;
  }
  .showTab{
    display: flex;
  }
}

/* Small Desktops */
@media (min-width: 992px) and (max-width: 1199px) {
  :root {
    --font-sz-title : 50px;
    --font-sz-sub-title: 32px;
    --font-sz-para: 25px;
    --font-sz-sub-para: 22px;
  }
}

